$accent-color: #FF6838;
$text-color: #31352B;
$title-color: #363853;


%quicksand-300{
  font-family: 'Rubik-light', sans-serif;
  font-weight: 300;
}

%quicksand-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-400i{
  font-family: 'Rubik-Italic', sans-serif;
  font-weight: 400;
}

%quicksand-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
